html, body {margin: 0; height: 100%; overflow: hidden}

/* .App {
  text-align: left;
} */
.nav-bar ul{
  list-style: none;
  background-color: rgb(29, 56, 207);

}

.nav-bar ul li a{
  text-decoration: none;
  color: white;
  width: 100px;
  height: 30px;
}
.nav-bar ul li:hover{
  background-color: rgb(6, 14, 90);
}
.nav-bar ul li{
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  
  background-color:#9600ec;
  padding: 10px;
 


}

.connectbutton:hover{
  background-color: rgb(95, 3, 3);
}
.StopChannelButton, .connectbutton{
  background-color: red;
   color:white;
    font-size:15px;
    padding: 2px;
    border-radius: 10%;
}
.StopChannelButton:hover{
  background-color: rgb(95, 3, 3);
}
.preview-container{
  position: relative; 
  background-color:rgba(14, 15, 15, 0.596);
  background-image: url('canvasBg.svg');
  width: 1024px;
  height: 576px;
  border:2px solid red;
}

.thumbnail-preview-container{
  /* position: relative;  */
  background-color:rgba(14, 15, 15, 0.596);
  background-image: url('canvasBg.svg');
  width: 103px;
  height: 58px;
  border:1px solid red;
}
.automation-preview-container{
  /* position: relative;  */
  background-color:rgba(14, 15, 15, 0.596);
  background-image: url('canvasBg.svg');
  width:309px;
  height: 172px;
  border:1px solid red;
}
.automationcanvas {
  width: 309px;
  height: 172px;
}
.styleContainer{
  background-color:rgba(14, 15, 15, 0.596);
  background-image: url('canvasBg.svg');
}

.topleft:hover{
cursor: pointer;
}
.graphic{
  position: absolute;
  left: 5%;
  background: rgb(80, 3, 124);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 2px solid white;
  padding: 3px 10px;   
  font-size: 30px;      
}
.output{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.palyButton{
  background-color: green;
  color:white;
}
.stopButton{
  background-color: red;
  color:white;

}

.previewButton{
  background-color: yellow;
  color:black;
}

.updateButton{
  background-color: rgb(129, 219, 231);
  color:black;
}

.canvas {
  position: absolute;
  width: 1024px;
  height: 576px;
}

.thumbnailcanvas {
  width: 309px;
  height: 172px;
}


.canvasOutput {
  position: absolute;
  width: 4096px;
  height: 2160px;
}

.hidetoolbar { display:none !important; }
.xyz { font-size: xx-large;}

.rightClickMenu ul li{
  padding: 3px 8px;;
  margin: 1px; ;
  background-color: rgb(6, 92, 107);
}

.rightClickMenu ul li:hover{
  background-color: rgb(2, 42, 49);
  cursor: pointer ;
 
}
.rightClickMenu ul{
  list-style: none;
  min-width: 180px;

}

.rightClickMenu ul li ul{
  display: none;
  position: absolute;
  left: 180px;
  }
  

.rightClickMenu ul li:hover ul{
display: inline;

}

.rightClickMenu ul li ul li{
  padding: 3px 8px;;
  margin: 1px; ;
  background-color: rgb(6, 92, 107);
}

.rightClickMenu ul li ul li:hover{
  background-color: rgb(2, 42, 49);
  cursor: pointer ;
 
}
.rightClickMenu ul li ul{
  list-style: none;
  min-width: 180px;

}


.rightClickMenu ul li ul li ul{
  display: none;
  position: absolute;
  left: 180px;
  }

.rightClickMenu ul li ul li:hover ul{
    display: inline;
  }

.drawingToolsRow{
  border: 1px solid rgb(235, 232, 232);
  width: 475px;
  margin-top: 3px;
}

.editableBox {
  width: 350px;
  height: 30px;
}

.timeTextBox {
  width: 310px;
  margin-left: -350px;
  height: 25px;
  border: none;
}

.inputRange{
  width: 100px;
  height: 3px;
}
.inputRangeStroke{
  width: 200px;
  height: 3px;
}
.inputRangeFontSize{
  width: 120px;
  height: 3px;
}

.selectedTab{
  background-color: rgb(116, 114, 117);
  color: white;
}