.controls-and-timeline-wrapper{
    background-color: black;
    width: 710px;
    height: 300px;
    display: flex;
}
.timeline-frame-selector{
    background-color: red;

    width: 100px;
    height: 300px;
}
.layer{
    background-color: rgb(43, 121, 176);
     margin-left: 0px; 
     width: 600px;
     margin-top: 2px;
}