<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logpath" value="C:\logs\mosgateway.log" />
		<add key="appname" value="StudioCG" />
		<add key="ncsIp" value="" />
		<add key="ncsPort" value="" />
		<add key="ncsId" value="DDNRCS" />
		<add key="mosId" value="WTVISION.STUDIO.MOS" />
		<add key="lowerport" value="10540" />
		<add key="upperport" value="10541" />
		<add key="mosVersion" value="2.8.5" />
		<add key="projectName" value="DDNRCS_PROJECT" />
		<add key="deleteRunningOrder" value="False" />
		<add key="studioRestServer" value="127.0.0.1" />
		<add key="studioRestServerPort" value="80" />
		<add key="replicationMosServer" value="" />
		<add key="replicationMosPort" value="0" />
		<add key="useActions" value="False" />
		<add key="closeConnections" value="True" />
		<add key="getAllRunningOrderOnStart" value="True" />
		<add key="broadcastToken" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="CheckAndReportVideoPlaceholders" value="false" />
		<add key="MAMUri" value="" />
		<add key="MAMToken" value="" />
		<add key="pythonScriptPath" value=""/>
	</appSettings>
</configuration>
